/HelloWorld/target/
/HelloGuild/target/
/WindowMasterV2/target/
/ProgrammingByDoing/PBD-BasicsAndPrinting/target/
/ProgrammingByDoing/PBD-KeyboardInput/target/
/ProgrammingByDoing/PBD-Variables/target/
/week01/TypeConversions/target/
/ProgrammingByDoing/PBD-RandomNumbers/target/
/ProgrammingByDoing/PBD-WhileLoops/target/
/ProgrammingByDoing/PBD-DoWhileLoops/target/
/ProgrammingByDoing/PBD-ForLoops/target/
/week01/LuckySevens/target/
/week01/InterestCalculator/target/
/week01/Factorizor/target/