@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color:#fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto,arial,sans-serif;
}

#log-out {
    padding-top: 10px;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    max-width: 250px;
    margin: 3vh auto 0px;
}

#sign-in-header { 
    border:0 solid #fff; 
    border-bottom-width:1px;
    margin-top: 12px;
    padding-bottom:10px;
    text-align: center;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.validationErrors {
    color: red;
    font-weight: bold;
}

.dvd-outer-tile {
    padding: 15px 18px 0px;
}

#dvd-table {
    max-height: calc(100vh - 310px);
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
}

#edit-delete-container {
    position: absolute;
    left: 2px;
}
#delete-btn, #edit-btn {
    opacity: 0.5;
    filter: alpha(opacity=40);
    size: 10px;
    cursor: pointer;
}

#delete-btn:hover, #edit-btn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#delete-btn {
    color: red;
}

#edit-btn {
    color: black;
}

#sort-btns {
    padding: 40px 0 0;
    margin: 0px;
}

.dvd-image {
    border: 1px solid #ccc;
    border-radius: 8px;
}

#details-modal th {
    width: 20%;
}

#users-table {
    margin: 0 auto;
    width: 400px;
}