.validationErrors {
    color: red;
    font-weight: bold;
}

.dvd-outer-tile {
    padding: 15px 18px 0px;
}

#dvd-table {
    max-height: calc(100vh - 310px);
    overflow: scroll;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-weight: bold;
}

#edit-delete-container {
    position: absolute;
    left: 2px;
}
#delete-btn, #edit-btn {
    opacity: 0.5;
    filter: alpha(opacity=40);
    size: 10px;
    cursor: pointer;
}

#delete-btn:hover, #edit-btn:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

#delete-btn {
    color: red;
}

#edit-btn {
    color: black;
}

.dvd-image {
    border: 1px solid #ccc;
    border-radius: 8px;
}