* {
    color: #362600;
}

a {
    color: #FFB000;
}

a > button {
    color: #A87800;
}

.error {
    color: red;
    font-weight: bold;
}

.money-amount {
    font-size: 1.4em;
}

#items-div {
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 450px;
    padding: 10px;
    overflow: scroll;
}

#vending-machine {
    background-color: #FFE29A;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    color: #362600;
    padding-bottom: 20px;
}

#bought-items {
    background-color: #FFFCF3;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #FFE09A;
    margin: 0px 25px 0px 25px;
    padding: 10px 0px 10px 0px;
}